* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #d1d5d848;
  border-bottom: 1px solid #b1b1b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.nav-1 img {
  margin: 0 1px;
  height: 50px;
  width: auto;
  border: 2px solid grey;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nav-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d5d848;
  border-bottom: 1px solid #b1b1b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.nav-2-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  cursor: pointer;
  color: grey;
  text-align: center;
}
.nav-2-item:hover {
  color: white;
}
.nav-2-item img {
  padding-bottom: 10px;
}
#item-1{
  background-color: #919191;
  color: #ffffff;
}
#item-2:hover {
  background-color: #e3350d;
}
#item-3:hover {
  background-color: #ee6b2f;
}
#item-4:hover {
  background-color: #e6bc2f;
}
#item-5:hover {
  background-color: #4dad5b;
}
#item-6:hover {
  background-color: #30a7d7;
}
#item-7:hover {
  background-color: #1b53ba;
}

.hero-cards{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
 
}
.side-A{
  width: 580px;
}

.A-1{
  border: 1px solid #313131;
  background-color: #313131;
  border-radius: 10px;
  color: #ffffff;
  width: 580px;

}
.A-1 h2 {
  
  padding: 20px;
  line-height: 1.2;
  font-size: 1.5rem;
}
.A-1 p {
  padding: 0px 20px 20px 20px;
  color: #CCCCCC;
}
.A-2{
  border: 1px solid #E3350D;
  background-color: #E3350D;
  align-items: center;
  border-radius: 10px;
  width: 285px;
  height: 255px;
}
.A-3{
  border: 1px solid #2279BE;
  background-color: #2279BE;
  align-items: center;
  border-radius: 10px;
  width: 285px;
  height: 255px;
}
.side-B{
  padding-top: 170px;
  display: flex;
  flex-direction: column;
  gap: 20px;
flex-wrap: wrap;
width: 280px;
height: auto;
margin-top: -250px;
}

.B-1{
  border: 1px solid #4DAD5B;
  background-color: #4DAD5B;
  align-items: center;
  border-radius: 10px;
  
  
}
.B-1 img{
  float: left;
  width: 35%;
  height: 100%;
}
.B-1 h3{
  color: #ffffff;
  text-align: center;
  padding: 10px;
  line-height: 1.;
  font-size: 1.5rem;
}
.B-2{
  border: 1px solid #E3350D;
  background-color: #E3350D;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  height: 280px;
}
.B-2 h3{
  color: #ffffff;
  padding: 20px;
  font-size: 1.4rem;
  float: left;
  line-height: 1.3;
  font-weight: lighter;
}
.B-3{
  border: 1px solid #B38AEA;
  background-color: #B38AEA;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  height: 280px;
}
.B-3 h3{
  color: #ffffff;
  padding: 20px;
  font-size: 1.4rem;
  float: left;
  line-height: 1.3;
  font-weight: lighter;
}
.characters {
  background-color: gray;
  display: inline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  
}
.char-box{
  border: 3px solid black;

}
.char-box h2 {
   height: 130px;
   background-color: #313131;
   color: white;
   padding: 20px;
  
}
.explore-more{
  margin-top: 50px;
  float: right;
  margin-right: 100px;
}
.explore-more button{
  padding: 15px 20px;
  background-color:#313131;
  color: white;
  font-size: large;
  border: 1px solid #313131;
  border-radius: 10px;
}
.news{
  margin-top: 300px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.n1-i1{
  background-color: #30A7D7;
  border: 1px solid #30A7D7;
  border-radius: 10px;
  width: 280px;
  height: auto;
  cursor: pointer;
  
}
.n1-i1 h3{
  color: white;
  padding: 20px 20px 10px 20px;
  font-size: 135%;
}
.n1-i2{
  background-color: #1B53BA;
  border: 1px solid #1B53BA;
  border-radius: 10px;
  width: 280px;
  height: auto;
  margin-top: 10px;
  cursor: pointer;
  
}
.n1-i2 h3{
  color: white;
  padding: 20px 20px 10px 20px;
  line-height: 1.3;
  font-size: 155%;
}

.n2-i1{
  background-color: #FF90C4;
  border: 1px solid #FF90C4;
  border-radius: 10px;
  width: 280px;
  height: auto;
  cursor: pointer;
  
}
.n2-i1 h3{
  color: white;
  padding: 20px 20px 10px 20px;
  font-size: 155%;
}
.news-heading{
  margin: 30px 0px;
  font-size: xx-large;
  color: #91919F;
}
.n2-i2{
  background-color: #313131;
  border: 1px solid #313131;
  border-radius: 10px;
  width: 280px;
  height: auto;
  cursor: pointer;
}
.n2-i2 h3{
  color: white;
  padding: 20px 20px 10px 20px;
  font-size: 155%;
}
.n3-i1{
  background-color: #EE6B2F;
  border: 1px solid #EE6B2F;
  border-radius: 10px;
  width: 280px;
  height: auto;
  cursor: pointer;
}
.n3-i1 h3{
  color: white;
  padding: 20px 20px 10px 20px;
  font-size: 155%;
}
.n3-i2{
  background-color: #4DAD5B;
  border: 1px solid #4DAD5B;
  border-radius: 10px;
  width: 280px;
  height: auto;
  cursor: pointer;
  margin-top: 15px;
}
.n3-i2 h3{
  color: white;
  padding: 20px 20px 10px 20px;
  font-size: 155%;
}
.all-news{
  margin-top: 50px;
  border: 1px solid;
 border-radius: 10px;
 cursor: pointer;
  
}
.all-news h3{
  padding: 15px 20px;
  background-color: #EE6B2F;
  height: 50px;
  color: white;
}
.all-news p{
  padding: 20px 20px;
  background-color: #4272cb9f;
}
.footer{
  padding-left: 15%;
  padding-top: 2%;
  background-color: #1F1F1F;
  color: white;
  width: 100%;
  height: auto;

}
.signup{
  margin-top: 60px;
  display: flex;
  gap: 40px;
}
#email{
  display: block;
}
#email input{
  width: 365px;
  padding: 13px 0px 13px 12px;
  font-weight: bold;
  border: 1px solid white;
    border-radius: 10px;
}
#country{
  width: 156px;
  padding: 10px 9px;
  color: #646464;
    font-weight: bold;
    
}
#birthday{
  margin-left: 32px;
  padding: 5px;
  font-size: large;
}
.permissions{
  margin-top: 30px;
}
.permits{
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}
.email-permits{
  margin-right: 10px;
  width: 17px;
  height: 16px;
  
}
.signup-button{
  margin-top: 20px;
  padding: 25px 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #51700F;
  color: white;
  cursor: pointer;
}
.footer-context{
  display: flex;
  gap: 20px;

}
li{
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;

}
li:hover{
  text-decoration: underline;
}
.seperator{
  margin: 0px 20px;
  width: 3px; 
  height: 245px; 
  background-color: #000000;
  font-weight: bolder;
}
.socials img{
  margin: 0px 5px;
  cursor: pointer;
}
.legals{
  margin-top: 10px;
cursor: pointer;
  font-size: x-small;
}