* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.nav-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #d1d5d848;
  border-bottom: 1px solid #b1b1b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.nav-1 img {
  margin: 0 1px;
  height: 50px;
  width: auto;
  border: 2px solid grey;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.nav-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1d5d848;
  border-bottom: 1px solid #b1b1b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.nav-2-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
  cursor: pointer;
  color: grey;
  text-align: center;
}
.nav-2-item:hover {
  color: white;
}
.nav-2-item img {
  padding-bottom: 10px;
}
#item-1{
  background-color: #919191;
  color: #ffffff;
}
#item-2:hover {
  background-color: #e3350d;
}
#item-3:hover {
  background-color: #ee6b2f;
}
#item-4:hover {
  background-color: #e6bc2f;
}
#item-5:hover {
  background-color: #4dad5b;
}
#item-6:hover {
  background-color: #30a7d7;
}
#item-7:hover {
  background-color: #1b53ba;
}

.hero-cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
 
}
.side-A{
  width: 580px;
}

.A-1{
  border: 1px solid #313131;
  background-color: #313131;
  border-radius: 10px;
  color: #ffffff;
  width: 580px;

}
.A-1 h2 {
  
  padding: 20px;
  line-height: 1.2;
  font-size: 1.5rem;
}
.A-1 p {
  padding: 0px 20px 20px 20px;
  color: #CCCCCC;
}
.A-2{
  border: 1px solid #E3350D;
  background-color: #E3350D;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  height: auto;
}
.side-B{
  display: flex;
  flex-direction: column;
  gap: 20px;
flex-wrap: wrap;
width: 280px;
height: auto;
margin-top: -250px;
}

.B-1{
  border: 1px solid #4DAD5B;
  background-color: #4DAD5B;
  align-items: center;
  border-radius: 10px;
  
  
}
.B-1 img{
  float: left;
  width: 35%;
  height: 100%;
}
.B-1 h3{
  color: #ffffff;
  text-align: center;
  padding: 10px;
  line-height: 1.;
  font-size: 1.5rem;
}
.B-2{
  border: 1px solid #E3350D;
  background-color: #E3350D;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  height: 280px;
}
.B-2 h3{
  color: #ffffff;
  padding: 20px;
  font-size: 1.4rem;
  float: left;
  line-height: 1.3;
  font-weight: lighter;
}
.B-3{
  border: 1px solid #B38AEA;
  background-color: #B38AEA;
  align-items: center;
  border-radius: 10px;
  width: 280px;
  height: 280px;
}
.B-3 h3{
  color: #ffffff;
  padding: 20px;
  font-size: 1.4rem;
  float: left;
  line-height: 1.3;
  font-weight: lighter;
}